<head>
    <link href="//cdn.bootcss.com/tether/1.4.0/css/tether.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/css/bootstrap.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/prism/9000.0.1/themes/prism.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
    <script src="//cdn.bootcss.com/tether/1.4.0/js/tether.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.5/js/bootstrap.js"></script>
    <script src="//cdn.bootcss.com/prism/9000.0.1/prism.js"></script>
</head>