<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{blog.title}}</title>
  <common-meta></common-meta>
</head>

<body>
  <div class="container">
    <h1>{{blog.title}}</h1>
    <div class="tags">
      Tags:
      <a
        v-for="tag in blog.tags"
        v-bind:href="'/blog/tag/' + tag"
        class="label label-default"
      >
        {{tag}}
      </a>
    </div>
    <p class="text-muted">Date: {{blog.date}}</p>
    <div v-html="blog.source"></div>
  </div>
</body>
</html>
