<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <common-meta></common-meta>
    <script src="./week.js"></script>
</head>

<body>
    <div class="container">
        <span v-if="!jobs.length">none</span>
        <div class="card" v-for="job in jobs">
            <div class="card-block">
                <a :href="job.title">
                    <h3 class="card-title">
                        {{job.title}}
                    </h3>
                </a>
                <p class="card-text" v-if="job.path"><small>项目路径:{{job.path }}</small></p>
                <p class="card-text" v-if="job.editDate"><small>修改日期:{{job.editDate | date('yyyy-MM-dd')}}</small></p>
                <p class="card-text" v-if="job.progress"><small>进度:{{job.progress*100+"%"}}</small></p>
                <progress class="progress progress-info" :value="job.progress*100" max="100"></progress>
            </div>
            <ul class="list-group list-group-flush">
                <li v-for="teamer in job.teamers" class="list-group-item">{{teamer}}</li>
            </ul>
            <div class="list-group list-group-flush">
                <div v-for="log in job.logs" class="list-group-item" v-html="log.text"></div>
            </div>

        </div>
    </div>

</body>

</html>