<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div v-for="job in jobs">
            <b>【{{job.title}}】</b>
            <small>进度:{{job.progress*100+"%"}}</small>
            <small>参与人员:{{job.teamers.join(" ")}}</small>

            <pre v-for="log in job.logs" v-html="log.text"></pre>
            <br>
            <br>

        </div>
    </div>
</body>

</html>