<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <common-meta></common-meta>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">BOOM</h1>
            <p class="lead">front end team</p>
            <hr class="my-2">
            <p class="lead">
                <a href="/job/list" class="btn btn-primary btn-lg"  role="button">JOB LIST</a>
            </p>
              <p class="lead">
                <a href="/blog" class="btn btn-primary btn-lg"  role="button">BLOG LIST</a>
            </p>
        </div>
      
    </div>


</body>

</html>